#  ENTORNOS VIRTUALES: son específicos de cada máquina
.venv/
venv/
env/

# CACHE PYTHON: Se regeneran automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# BASE DE DATOS: Contiene datos sensibles
*.db
*.sqlite3
*.sqlite

# VARIABLES ENTORNO: Contienen contraseñas y configs sensibles
.env
.env.local


# ARCHIVOS SISTEMA: Específicos del sistema operativo
.DS_Store
Thumbs.db


# DEs: Configuración local de editores
.idea/
.vscode/

# LOGS: Archivos de registro de la aplicación
*.log
logs/